<div class="jumbotron">
  <h1 class="display-3">iTunes Search</h1>
  <p>this is not a fully functional website to search on itunes. It just serve the purpse to demonstrate the angular two skills</p>
  <P>Topic covered during development for this site are: </P>
  
    <ul>
      <li>ES6 and Type Script-> Fat arrow functions, Template Strings Destructuring, Map Classes Modules. etc </li>
      <li> Angular 2</li>
      <li>Components</li>
      <li>Directives</li>
      <li>Pipes</li>
      <li>Dependecy Injections</li>
      <li>Http, Jsonp </li>
      <li>Routing -> navigation. parameterised routing. chid routes</li>
      <li>used Itunes APis endpoint and Angular CLi</li>
  </ul>
</div>